.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    margin-right: 24px;
}

.input {
    margin-right: 24px;
    height: 24px;
    padding: 4px 8px;
    width: 500px;
}

.button {
    padding: 8px 16px;
}

.wrapper {
    position: relative;
}
